@namespace [Owner].Theme.[Theme]
@inherits ContainerBase
@*
    This is the container for header contents.
    * It does not have any styling CSS classes on the wrapping div, since it should not have padding or margins.
    * It will never show a title, since it's expected to "stick" closely to the top of the page.
*@

@code {
    /// <summary>
    /// Name of this container to be used in the UI
    /// </summary>
    public override string Name => "Header Container (reduced padding)";
}

<ModuleActions />
<div class="row">
    <ModuleInstance />
</div>