@namespace [Owner].Cre8magic.Theme.[Theme]
@inherits ContainerBase
@inject ISettingService SettingService

<div class="@_classes">
@*     @if (_title && ModuleState.Title != "-")
    {
    <div class="row px-4">
        <div class="d-flex flex-nowrap">
            <ModuleActions />
        </div>
    </div>
    }
    else
    { *@
    <ModuleActions />
    @* } *@

    <ModuleInstance />
</div>

@code {
    public override string Name => "Cre8magic [Theme] - Container";

    private bool _title = false;
    private string _classes = "container py-4";

    protected override void OnParametersSet()
    {
        try
        {

            _title = bool.Parse(SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Title", "true"));

        }
        catch
        {
            // error loading container settings
        }
    }

}